body {
  /*background-color: #808080;*/
  background-image: url(../assets/background_test.png);
  background-size: cover;
  background-repeat: repeat-y;
}

main {
  font-family: '5x5Pixel', 'Times New Roman', Times, serif;
  font-size: 16px;
  margin: 50px 10% 10% 10%;
  color: black;
  background-color: rgba(150, 150, 150, 0.911);
  padding: 2%;
  padding-bottom: 50px;
  border-radius: 25px;
}

.row {
  display: flex;
}

/* Create three equal columns that sits next to each other */

.column {
  flex: 33.33%;
  padding: 5px;
}

/*
Stuff for team.html
*/
ul ul.ul1 {
  text-align: left;
  margin-left: 25%;
  font-size: medium;
}

ul ul.ul1 li {
  list-style-type: square;
  /*margin-left: 21px;*/
}

ul.tutor {
  font-size: large;
  list-style-type: square;
  padding-top: 3%;
}


.profilePic {
  border-radius: 7%;
}
/*-------------------------- */

figure{
  margin: 0;
}

figure.einzel {
  display: inline-block;
  width: 240px;
}

#goButton {
  position: absolute;
  left: 42%;
  top: 60%;
  z-index: 20;
  width: 20%;
}

#indexGoButtonBGimg {
  left: 50%;
  top: 0px;
  z-index: 10;
  max-height: 100%;
  max-width: 100%;
  border-radius: 0px
}

h1 {
  font-family: '5x5 Pixel';
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '5x5 Pixel';
  src: url('../assets/fonts/5x5-Pixel.woff2') format('woff2'), url('../assets/fonts/5x5-Pixel.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
p {
  font-family: 'Open Sans', sans-serif;
  text-align: justify;
}

main ul {
  font-weight: bold;
  font-size: large;
}

main ul li{
  text-align: left;
  list-style-type: square;
  font-weight: normal;
  font-size: medium;
  margin-left: 30px;
}

figcaption {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

div.paragraf {
  clear: both; 
  margin-bottom: 30px
}
div.imgcontainer {
  float: inline-start; 
  margin-right: 20px; 
  margin-bottom: 20px
}