* {
    cursor: default;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    background-color: #5874ae;
}

.logo {
    height: 40px;
    margin: 5px 20px 0px 20px;
}

nav ul {
    list-style: none;
    overflow: hidden;
}

nav li {
    float: left;
    /*border-left: 2px solid #2e2e2e;*/
}

nav ul li a {
    float: left;
    width: 150px;
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    padding: 13px 0px 13px 0px;
}

nav ul li a:hover {
    background-color: #3d517a;
}

.dropdown {
    float: left;
    /*border-left: 2px solid #2e2e2e;*/
    overflow: hidden;
}

.dropdown:hover {
    background-color: #3d517a;
}

.dropdown .dropbtn {
    font-size: 20px;
    width: 130px;
    border: none;
    outline: none;
    color: white;
    padding: 13px 5px 13px 5px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    border-bottom: 1px solid black;
    position: absolute;
    background-color: #b0aeae;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}